<ng-container>
  <app-header></app-header>
</ng-container>
<ng-container *ngIf="ready$ | async">
  <section class="router">
    <router-outlet></router-outlet>
  </section>
</ng-container>

<ng-container *ngIf="error$ | async">
  <ng-container *ngIf="errorData$ | async as errorData">
    <section class="error">
      <p (click)="eraseErrors(errorData)">{{ errorData | json }}</p>
    </section>
  </ng-container>
</ng-container>

<ng-container *ngIf="loading$ | async">
  <ng-container *ngIf="loadingActions$ | async as loadingActions">
    <section class="loading">
      <p (click)="cancelAll(loadingActions)">{{ (loadingData$ | async) | json }}</p>
    </section>
  </ng-container>
</ng-container>
