<!-- HEADER -->
<ng-container *ngIf="(showHeader$ | async)">
  <section class="header">
    <app-header></app-header>
  </section>
</ng-container>
<!-- / HEADER -->

<!-- ROUTER OUTLET -->
<ng-container *ngIf="(ready$ | async)">
  <section class="router">
    <router-outlet></router-outlet>
  </section>
</ng-container>
<!-- / ROUTER OUTLET -->

<!-- LOADINGS -->
<ng-container *ngIf="(loading$ | async)">
  <section class="loading">
    <p>{{ loadingData$ | async | json }}</p>
  </section>
</ng-container>
<!-- / LOADINGS -->

<!-- ERRORS -->
<ng-container *ngIf="(error$ | async)">
  <section class="error">
    <p>{{ errorData$ | async | json }}</p>
  </section>
  <button (click)="clearError()">CLEAR ERRORS</button>
</ng-container>
<!-- / ERRORS -->
