<ng-container>
  <section>
    <form [formGroup]="userForm" novalidate>
      <section class="input-field">
        <input type="email" placeholder="Email" [formControl]="emailCtrl" />
        <section class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
          <p>
            An Email is required.
          </p>
        </section>
      </section>
      <section class="input-field">
        <input type="password" placeholder="Password" [formControl]="passwordCtrl"/>
        <section class="input-error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
          <p>
            A Password is required.
          </p>
        </section>
      </section>
      <button (click)="signin()">Sign In</button>
    </form>
  </section>
</ng-container>
